@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap");

.jumbotron {
    background-image: url(../../img/books.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
}

h1 {
    font-family: 'Raleway';
    /* font-size: 400px; */
    text-align: center;
    color: snow;
}

h2 {
    font-family: 'Raleway';
    font-size: 20px;
    text-align: center;
    color: snow
}